body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
    margin: 0;
}

h1 {
    margin-top: 0px;
}

.hero {
    background-color: #6c6c6c;
    border-bottom: 5px solid #494b52;
    padding: 20px;
}

.nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #494b52;
    margin-top: 0;
    padding: 5px 0 0 0;
}
.nav ul li {
    background-color: #494b52;
    padding: 5px 20px;
}

.page {
    
}
